* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	display: flex;
	justify-content: space-around;
	padding: 10px;
	font-size: 20px;
}

li {
	list-style: none;
}
a {
	text-decoration: none;
}

a:hover {
	text-decoration: dashed;
}

body {
	background-color: #ccc;
}
.left {
	background-color: blue;
}
.right {
	background-color: green;
}

.left,
.right {
	width: 50%;
	height: calc(100vh - 65px);
	float: left;
}

.pt_left {
	background-color: blue;
}
.pt_center {
	background-color: aqua;
}
.pt_right {
	background-color: green;
}

.pt_left,
.pt_right,
.pt_center {
	width: 33%;
	height: calc(100vh - 65px);
	float: left;
}
